In [ ]:
import pandas as pd 
from sqlalchemy import create_engine

##### getting the parquet file of the data from NY website

In [ ]:
%%bash
wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet

##### reading and exploring the data

In [ ]:
df = pd.read_parquet('yellow_tripdata_2024-01.parquet')

In [ ]:
df.head()

In [ ]:
df.count()

##### starting the connection to the postgres instance and loading the date to table in it

In [ ]:
connection = create_engine('postgresql://postgres:secret@postgres/nytaxi')

In [ ]:
print(connection)

In [ ]:
psql_schema = pd.io.sql.get_schema(df, name="nytaxi", con=connection)

In [ ]:
print(psql_schema)

In [ ]:
chunck = 10000
for i in range(0, len(df), chunck):
    e = i + chunck
    batch = df.iloc[i:e]
    batch.to_sql(name="nytaxi", con=connection, if_exists="append")